labelme/matching_components/checkpoints
labelme/__pycache__/
.idea/
labelme.egg-info/
build/
labelme/resources.py

labelme/matching_wrapper/__pycache__/
labelme/files/__pycache__/
labelme/config/__pycache__/
labelme/widgets/__pycache__/

data
